.link{
    margin: 0 5px;
}
.button{
    border: none;
    /* border: 1px solid rgb(0, 0, 0); */
    width: 80px;
    height: 30px;
    background: rgb(90, 255, 192);
    border-radius: 8px;
    font-weight: 700;
}
